.container {
  background: #a2cf70 radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .5));
  padding: calc(4 * .5rem);
  margin-top: calc(4 * .5rem);
  border-radius: 8px;
  border: 1px solid rgb(128, 161, 103);
  box-shadow: inset rgba(255, 255, 255, .6) 0 .3em .3em,
  inset rgba(0, 0, 0, .2) 0 -.1em .3em,
  rgb(128, 161, 103) 0 7px 1px,
  rgba(0, 0, 0, .2) 0 .5em 5px;
}